.bigcontainer{
    margin-top: 10px;
}

.div2nd{
    display: flex;
    justify-content: center;
}

.div3rd{
 display: flex;
 width: 90%;
 margin-top: 30px;
 margin-left: 30px;
 margin-bottom: 100px;
}

.div3rd ul{
    display: flex;
    justify-content: flex-start;
}

.div3rd li{
    margin-top: 70px;
    margin-left: 15px;
    background-color: white;
    list-style-type: none;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 2px 8px;

}

.div3rd li a{
    color: red;
    box-shadow: inset;
    text-decoration: none;
}
.div4th{
    display: flex;
   height: 3000px;
   width: 840px;
   margin-left: 540px;
   margin-top: -70px;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: space-evenly;
   
}
.item{
 margin-top: 100px;
 width: 10px;
}
.filter{
    border: 5px solid black;
    margin-left: -940px;
    margin-top: -102px;
    width: 300px;
    height: 400px;
}