.scss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* body::-webkit-scrollbar{
    display: none;
} */
body{
    background-color: rgb(200, 202, 204);
    overflow-x: hidden;
}
