.couraseldiv>button{
    background-color: rgba(0, 0, 0, 0.22);
    border: none;
    height: fit-content;
    padding: 20px 20px;
    display: flex;
    align-self: center;
    border-radius: 10%;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    cursor: pointer;
}

.couraseldiv>button:hover{
    background-color: rgba(255, 254, 254, 0.733);
    color: black;
}
.prev{
    position: relative;
    right: -70px;
}

.next{
    position: relative;
    left: -70px;
}

.icc-img1{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.icc-img1>img{
    width: 90%;
    cursor: pointer;
}