.Eventimg::-webkit-scrollbar,
.Eventimg::-webkit-scrollbar {
  display: none;
}

.Eventimg {

  display: flex;
  width: 80%;
  margin: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.eventslidermain-div{
  display: flex;
  align-items: center;  
}

.slider img {

  width: 225px;
  /* margin: 0 10px; */
  border-radius: 10px;
  margin: 20px 10px;
}

.event {
  width: 80%;
  margin: auto;
}

.eventsliderbtn{
  font-size: 28px;
  padding: 20px 30px;
  border: none;
  border-radius: 60%;
  background-color: rgba(0, 0, 0, 0.22);
}

.eventsliderbtn:hover{
  background-color: rgba(255, 254, 254, 0.733);
}

.esleft{
  position: relative;
  left: 50px;
}
.esright{
  position: relative;
  right: 50px;
}