.seeall {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .shows {
    width: 80%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5;
  
  }
  
  .shows img {
    width: 220px;
    border-radius: 10px;
  }
  